archive/
raw/

*.~lock.*
*.*-shm
*.*-wal
*.cpg
*.csv
*.dbf
*.doc
*.fuse_*
*.geojson
*.gpkg*
*.grb*
*.gz
*.html
*.nc
*.ods
*.pdf
*.png
*.points
*.prj
*.qgz
*.qml
*.sbn
*.sbx
*.shp
*.shx
*.status
*.tfw
*.tif*
*.xls
*.xml
*.zip

wget-*.sh
dkrz_cordex_disk.json
soil/*.json

!wget-esg*.sh
!eurocordex/eurocordex_eur11_catalogue.csv
!grasscheck.csv
!holden_brereton_2004_regions.png
!regions-polygons.gpkg
!grass-growth/modvege/params.csv
!grass10.csv
