archive/
raw/

*.csv
*.doc
*.geojson
*.gpkg
*.gz
*.html
*.nc
*.ods
*.pdf
*.png
*.points
*.qgz
*.qml
*.status
*.tfw
*.tif*
*.xls
*.xml
*.zip

wget-*.sh
dkrz_cordex_disk.json

!wget-esg*.sh
!eurocordex/eurocordex_eur11_catalogue.csv
!grasscheck.csv
!holden_brereton_2004_regions.png
