archive/

*.csv
*.doc
*.geojson
*.gpkg
*.gz
*.html
*.nc
*.ods
*.pdf
*.png
*.points
*.qgz
*.qml
*.status
*.tfw
*.tif*
*.txt
*.xls
*.xml
*.zip

wget-*.sh

!LICENCE.txt
!eurocordex/eurocordex_eur11_catalogue.csv
!grasscheck/grasscheck.csv
!climatic-regions/holden-brereton-2004/holden_brereton_2004_regions.png
